html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.main-content {
    flex: 1; 
}

.footer {
    background: #111; 
    color: white;
    text-align: center;
    padding: 15px;
}


.container {
    padding-top: 5rem;
}

.animal-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.animal-thumbnail {
    width: 100px;
    text-align: center;
}

.animal-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    display: none;
}
.cookie-banner button {
    margin-left: 10px;
}

.category-img {
    width: 140px;  
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.category-container {
    margin-bottom: 30px;
}

.category-table img {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 10px; 
}

.categorias-card {
    text-align: center;
}

.categorias-card .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categorias-card img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}

.pagination .page-item .page-link {
    color: black; 
    background-color: white; 
    border: 1px solid #dee2e6; 
}

.pagination .page-item .page-link:hover {
    color: white; 
    background-color: darkgreen;
    border-color: darkgreen;
}

.pagination .page-item.active .page-link {
    color: white;
    background-color: green; 
    border-color: green;
}