{% extends 'layout.html.twig' %}

{% block title %}Cátalogo de Animales{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="display-1">Cátalogo de animales</h1>
        <h2 class="display-3">Los otros Habitantes de la Tierra</h2>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            {% for category in categories %}
                <div class="col-12 col-md-4 col-lg-2 text-center category-container">
                    <a href="#">
                        <img src="{{ category.foto }}" alt="{{ category.nombre }}" class="category-img img-fluid rounded-circle" width="140" height="140">
                    </a>
                    <p>{{ category.nombre }}</p>
                    <p><a class="btn btn-secondary" href="/category/{{ category.idcategoria }}">Ver detalles &raquo;</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
