{% extends 'layout.html.twig' %}

{% block title %}Cátalogo de Animales{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="display-1">Cátalogo de animales</h1>
        <h2 class="display-3">Los otros Habitantes de la tierra</h2>
    </div>
    <div class="row mt-4">
        {% for animal in animals %}
        <div class="col-12 col-md-4 col-lg-2 text-center">
            <img src="/images/{{ animal.image }}" alt="{{ animal.name }}" class="img-fluid rounded-circle" width="140" height="140">
            <p><a class="btn btn-secondary" href="/animal/{{ animal.id }}">View details &raquo;</a></p>
        </div>
        {% endfor %}
    </div>
{% endblock %}